<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link rel="stylesheet" href="style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Help</title>
    <link rel="icon" href="help.png">

</head>

<body>
    <div class="main-contact">
    {{>header}}
    <!-- {{helpfulText}} -->
    <p><strong>To know more about this project click on below link.<strong></p>
    <br>
    
    <a href = "https://github.com/amit-2000/node-weatherapplication"><i>Click here to contribute!</i></a>
    

    </div>

    {{>footer}}
    
    
   
    {{!-- <h2>this is {{help}} page</h2> --}}
  

    
</body> 
</html>
