    <footer>
        <p>Created by {{myName}}</p>
        <p>Wanna contribute?  &nbsp;</p>target="_blank"
        <a href="https://github.com/amit-2000/node-weatherapplication" target="_blank">wanna contribute? Click here</a>
    </footer>
