    <footer>
        <p>Created by {{myName}}</p>
        <p>Wanna contribute? paste below link in browser</p><br>
        <p<a href = "https://github.com/amit-2000/node-weatherapplication">>click here</p><br>
    </footer>
